@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;600&display=swap');

body {
  background-color: rgb(27,25,37) !important;
  font-family: 'Outfit', sans-serif !important;
}

h1{
  color:#ffffff !important;
  font-weight: 600 !important;
  font-size: 30px;
}

h3{
  color:#00cc99 !important;
  font-weight: 300 !important;
  font-size: 20px;
}

h5{
  color:#00cc99 !important;
  font-weight: 00 !important;
  font-size: 14px;
}

p{
  color:#ffffff !important;
  font-weight: 300 !important;
  font-size: 14px;
}